In [31]:
# library
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
import re

# # ML
# from sklearn.model_selection import train_test_split
# # Classification
# from sklearn.metrics import accuracy_score
# from sklearn.metrics import confusion_matrix
# # Regression
# from statsmodels.tools.eval_measures import rmse
# from statsmodels.stats.outliers_influence import variance_inflation_factor
# # KNN & Decision tree
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.tree import DecisionTreeClassifier
# # MinMax Scaler (Normalisation)
# from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler
# Warnings
import warnings
warnings.filterwarnings('ignore')

# **DTI-DS Capstone 2 (Data Preprocessing)**

## General Overview

1. <mark>**Background:**</mark>
    
Transjakarta is the first Bus Rapid Transit (BRT) transportation system in Southeast Asia operating since 2004 in Jakarta, Indonesia. TransJakarta was designed as a mass transportation mode to support Indonesia’s Capital city’s around the clock activities. 

With the longest track in the world (251.2 km), as well as having 260 bus stops spread across 13 corridors. Transjakarta initially operates from 05.00 - 22.00 WIB, now it operates 24 hours available on certain corridors only. With its extensive network of routes and ease of use, Transjakarta has become the leading and favorite transportation for so called “Jakartans”. 

However, there are several problems that still lingers around and thus must be handled. Problems such as sexual harassment that still often occurs to women, pickpocketing, bus crashes, schedule punctuality, accumulation of passengers at bus stops, overcrowding inside the bus itself. All stemming from overcrowding and less than optimal fleet distribution and fleet schedule.

2. <mark>**Problem Statement:**</mark>

Overcrowding has led to several of Transjakarta’s pre-existing problems aforementioned in the Background. Thus, Transjakarta wants to research on its “overcrowding” problem associated with fleet distribution and schedule to help evaluate and improve its services to passengers (“Jakartans”) 

3. <mark>**Data:**</mark>

This data is the passenger data for the month of April 2023. It initially consists of 37,900 rows (reduced to 35,476 post-preprocessing) and 22 columns. The Data Can be seen as follows:

4. <mark>**Data Analysis:**</mark>

Overcrowding can be identified through several variables that helps us measure overall quantity of passengers. These variables can also help describe the demography of our passengers in the form of customer segmentation. For this research, we are focusing on the variables that can be associated with “overcrowding”. These variables will be <mark>**highlighted**</mark> with the <mark>**arrow (->)**</mark> notation below:

#### -> Biodata:
1.	<mark>**transID:**</mark> <u>Unique transaction id for every transaction</u>
2.	<mark>**payCardID:**</mark> <u>Customers main identifier. The card customers use as a ticket for entrance and exit.</u>
3.	<mark>**payCardBank:**</mark> <u>Customers card bank issuer name</u> <mark>**-> Payment Gateway Analysis**</mark>
4.	<mark>**payCardName:**</mark> <u>Customers name that is embedded in the card.</u>
5.	<mark>**payCardSex**</mark> <u>Customers sex that is embedded in the card</u> <mark>**-> Gender Analysis**</mark>
6.	<mark>**payCardBirthDate:**</mark> <u>Customers birth year</u> <mark>**-> Customer Segmentation by Age**</mark>
#### -> Journey (Trip Details):
7.	<mark>**corridorID:**</mark> <u>Corridor ID / Route ID as key for route grouping.</u> <mark>**-> Corridor Analysis**</mark>
8.	<mark>**corridorName:**</mark> <u>Corridor Name / Route Name contains Start and Finish for each route.</u> <mark>**-> Corridor Analysis**</mark>
9.	<mark>**direction:**</mark> <u>0 for Go, 1 for Back. Direction of the route. (0: Right_address -> Left_address & 1: Left_address -> Right_address)</u> <mark>**-> In/Out Analysis**</mark>
#### -> Journey (Tap-In details):
10.	<mark>**tapInStops:**</mark> <u>Tap In (entrance) Stops ID for identifying stops name</u>
11.	<mark>**tapInStopsName:**</mark> <u>Tap In (entrance) Stops Name where customers tap in.</u> <mark>**-> Bus Stop Analysis**</mark>
12.	<mark>**tapInStopsLat:**</mark> <u>Latitude of Tap In Stops</u> <mark>**-> Geo Analysis**</mark>
13.	<mark>**tapInStopsLon:**</mark> <u>Longitude of Tap In Stops</u>
14.	<mark>**stopStartSeq:**</mark> <u>Sequence of the stops, 1st stop, 2nd stops etc. Related to direction. (the N-th startingStop to the endingStop from Right_address (direc: 0) OR Left_address (direc: 1))</u> <mark>**-> stopCount Analysis**</mark>
15.	<mark>**tapInTime:**</mark> <u>Time of tap in. Date and time</u> <mark>**-> Time-Based Analysis**</mark>
#### -> Journey (Tap-Out details):
16.	<mark>**tapOutStops:**</mark> <u>Tap Out (Exit) Stops ID for identifying stops name</u>
17.	<mark>**tapOutStopsName:**</mark> <u>Tap out (exit) Stops Name where customers tap out.</u> <mark>**-> Bus Stop Analysis**</mark>
18.	<mark>**tapOutStopsLat:**</mark> <u>Latitude of Tap Out Stops</u> <mark>**-> Geo Analysis**</mark>
19.	<mark>**tapOutStopsLon:**</mark> <u>Longitude of Tap Out Stops</u>
20.	<mark>**stopEndSeq:**</mark> <u>Sequence of the stops, 1st stop, 2nd stops etc. Related to direction.(the N-th startingStop to the endingStop from Right_address (direc: 0) OR Left_address (direc: 1))</u> <mark>**-> stopCount Analysis**</mark>
21.	<mark>**tapOutTime:**</mark> <u>Time of tap out. Date and time</u> <mark>**-> Time-Based Analysis**</mark>
#### -> Journey (Trip Details):
22.	<mark>**payAmount:**</mark> <u>The number of what customers pay. Some are free. Some not.</u> <mark>**-> Revenue Analysis**</mark>

<br>
<br>
<br>
5. <mark>**Final Initial Hypothetical Thoughts (guiding concerns): **</mark>

Overcrowding can be best described as a phenomenon where the quantity of people exceed the threshold of collective and overall comfort of a cohort of people. To mitigate such problems. We can list the overall data analysis research findings, along with recommendations such as addressing customer segments that majorly contributes to “overcrowding”, fleet distribution and schedule that accommodate peak demand hours based on some of its busiest corridors (and its stops) whilst accommodating concerns such as female passenger safety by way of dedicated female rows on buses and female-only buses. Such implementation requires a certain degree of supervision, hence the optimal number of staff and their respective distribution along with comprehensive CCTV coverage. 

“Overcrowding” stems from congestion, and congestion does not always happen at the bus but rather the bus stops itself. This might cause certain problems such as pickpocketing and uncomfortable waiting conditions. To reduce such congestion, Transjakarta can increase its number of fleets, along with the aforementioned fleet distribution and schedule. This will also lessen the already high operating hours that might result in unexpected vehicle breakdowns, which might further worsen the problem as a delay in supply might trickle down to the whole system’s operational efficiency

In [32]:
# Import Data
df_tj = pd.read_csv('Transjakarta.csv', sep= ',')

In [33]:
# ===== 'Transjakarta.csv'' =====
pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", None)
# pd.reset_option('display.max_rows')
df_tj

# Initial Count: 37900 rows × 22 columns

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,tapInStopsName,tapInStopsLat,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,EIIW227B8L34VB,180062659848800,emoney,Bajragin Usada,M,2008,5,Matraman Baru - Ancol,1.0,P00142,Pal Putih,-6.184631,106.84402,7,2023-04-03 05:21:44,P00253,Tegalan,-6.203101,106.85715,12.0,2023-04-03 06:00:53,3500.0
1,LGXO740D2N47GZ,4885331907664776,dki,Gandi Widodo,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,Kemenkes 2,-6.228700,106.83302,13,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,-6.217152,106.81892,21.0,2023-04-03 06:40:01,3500.0
2,DJWR385V2U57TO,4996225095064169,dki,Emong Wastuti,F,1992,R1A,Pantai Maju - Kota,0.0,B00499P,Gg. Kunir II,-6.133132,106.81435,38,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,-6.133731,106.81475,39.0,2023-04-03 06:50:55,3500.0
3,JTUZ800U7C86EH,639099174703,flazz,Surya Wacana,F,1978,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,B05587P,Taman Elok 1,-6.195743,106.93526,23,2023-04-03 05:44:51,B03090P,Raya Penggilingan,-6.183068,106.93194,29.0,2023-04-03 06:28:16,3500.0
4,VMLO535V7F95NJ,570928206772,flazz,Embuh Mardhiyah,M,1982,12,Tanjung Priok - Pluit,0.0,P00239,Sunter Boulevard Barat,-6.149650,106.88900,5,2023-04-03 06:17:35,P00098,Kali Besar Barat,-6.135355,106.81143,15.0,2023-04-03 06:57:03,3500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37895,ZWEC949B8Q87QG,4685818286724028395,brizzi,Kamila Mahendra,F,2004,6B,Ragunan - MH Thamrin via Semanggi,1.0,P00261,Tosari,-6.196892,106.82309,2,2023-04-21 18:18:37,P00228,SMK 57,-6.290967,106.82365,13.0,2023-04-21 19:55:49,3500.0
37896,YHHK837P6Y95GN,6502902290603767,dki,Titi Siregar,M,1974,9N,Pinang Ranti - Pramuka,1.0,P00064,Garuda Taman Mini,-6.290154,106.88116,1,2023-04-18 21:52:31,P00179,Pinang Ranti,-6.291075,106.88634,2.0,2023-04-18 22:28:22,3500.0
37897,YXPP627N4G95HO,213159426675861,emoney,drg. Zahra Nashiruddin,F,1976,1T,Cibubur - Balai Kota,1.0,B02873P,Plaza Sentral,-6.216247,106.81676,12,2023-04-04 10:29:47,B00226P,Buperta Cibubur,-6.370321,106.89628,14.0,2023-04-04 13:27:25,20000.0
37898,RGVK175U2U98UV,377840859133591,emoney,Ana Agustina,M,1976,JAK.13,Tanah Abang - Jembatan Lima,1.0,B02505P,Museum Textile,-6.188656,106.80954,33,2023-04-15 19:59:26,B01787P,JPO Blok G,-6.188861,106.81135,34.0,2023-04-15 20:27:50,0.0
37899,FMZZ963S4B68ZP,501862539795,flazz,drg. Leo Najmudin,F,1985,13,Ciledug - Tendean,0.0,P00001,Adam Malik,-6.236466,106.74786,2,2023-04-12 21:08:12,P00106,Kebayoran Lama,-6.238340,106.77752,7.0,2023-04-12 21:34:53,3500.0

In [34]:
df_tj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37900 entries, 0 to 37899
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transID           37900 non-null  object
 1   payCardID         37900 non-null  int64
 2   payCardBank       37900 non-null  object
 3   payCardName       37900 non-null  object
 4   payCardSex        37900 non-null  object
 5   payCardBirthDate  37900 non-null  int64
 6   corridorID        36643 non-null  object
 7   corridorName      35970 non-null  object
 8   direction         37900 non-null  float64
 9   tapInStops        36687 non-null  object
 10  tapInStopsName    37900 non-null  object
 11  tapInStopsLat     37900 non-null  float64
 12  tapInStopsLon     37900 non-null  float64
 13  stopStartSeq      37900 non-null  int64
 14  tapInTime         37900 non-null  object
 15  tapOutStops       35611 non-null  object
 16  tapOutStopsName   36556 non-null  object
 17  tapOutStopsLat    36556 non-null  float64
 18  tapOutStopsLon    36556 non-null  float64
 19  stopEndSeq        36556 non-null  float64
 20  tapOutTime        36556 non-null  object
 21  payAmount         36893 non-null  float64
dtypes: float64(7), int64(3), object(12)
memory usage: 6.4+ MB

In [35]:
df_tj.describe()

,payCardID,payCardBirthDate,direction,tapInStopsLat,tapInStopsLon,stopStartSeq,tapOutStopsLat,tapOutStopsLon,stopEndSeq,payAmount
count,3.790000e+04,37900.000000,37900.000000,37900.000000,37900.000000,37900.000000,36556.000000,36556.000000,36556.000000,36893.000000
mean,4.250060e+17,1990.089314,0.500633,-6.214838,106.841554,13.572480,-6.214651,106.841233,21.219909,2699.712683
std,1.321699e+18,13.051482,0.500006,0.057911,0.060369,12.237623,0.059022,0.060999,13.800689,4212.225592
min,6.040368e+10,1946.000000,0.000000,-6.394973,106.614730,0.000000,-6.394973,106.614730,1.000000,0.000000
25%,1.800442e+14,1982.000000,0.000000,-6.245863,106.803470,4.000000,-6.247225,106.801750,11.000000,0.000000
50%,3.507947e+15,1990.000000,1.000000,-6.214587,106.834830,10.000000,-6.214718,106.834580,18.000000,3500.000000
75%,4.699023e+15,2001.000000,1.000000,-6.175528,106.882270,19.000000,-6.174736,106.883030,29.000000,3500.000000
max,4.997694e+18,2012.000000,1.000000,-6.089429,107.023950,68.000000,-6.091746,107.023660,77.000000,20000.000000

## **Data Cleaning**


1. Handling Missing Values
Identify Missing Values: Use functions like isnull() and sum() to identify missing values in your dataset.
Decide on a Strategy: Choose an appropriate method to handle missing values:
Remove Rows/Columns: Use dropna() to remove rows or columns with missing values.
Impute Values: Use fillna() to replace missing values with a specific value, mean, median, mode, or a more sophisticated method like interpolation or modeling.
2. Removing Duplicates
Identify Duplicates: Use duplicated() to identify duplicate rows.
Remove Duplicates: Use drop_duplicates() to remove duplicate rows.
3. Handling Outliers
Identify Outliers: Use statistical methods (e.g., Z-score, IQR) or visualization techniques (e.g., box plots) to identify outliers.
Decide on a Strategy: Handle outliers by either removing them, capping them, or transforming them using methods like log transformation.
4. Correcting Data Types
Check Data Types: Use dtypes to check the data types of each column.
Convert Data Types: Use functions like astype() to convert columns to appropriate data types (e.g., converting strings to datetime using pd.to_datetime).
5. Handling Inconsistent Data
Standardize Formats: Ensure consistent formatting for strings, dates, and other data types.
Correct Inconsistent Values: Use functions like str.lower(), str.strip(), and replace() to standardize inconsistent values.
6. Addressing Erroneous Data
Identify Erroneous Data: Look for unrealistic values, typos, or logically inconsistent data (e.g., negative ages, impossible dates).
Correct or Remove Erroneous Data: Replace erroneous data with correct values or remove the affected rows.
7. Data Normalization and Scaling
Normalize Data: Adjust the scale of numerical features to a standard range (e.g., 0 to 1) using techniques like Min-Max scaling (MinMaxScaler).
Standardize Data: Center the data by subtracting the mean and scaling to unit variance using techniques like Z-score normalization (StandardScaler).
8. Feature Engineering
Create New Features: Derive new features from existing ones that might be more meaningful for analysis.
Transform Features: Apply transformations (e.g., log, square root) to make the data more suitable for modeling.
9. Handling Categorical Data
Convert Categorical to Numerical: Use techniques like one-hot encoding (pd.get_dummies()), label encoding, or ordinal encoding to convert categorical data to numerical data.
10. Ensuring Data Consistency and Integrity
Verify Data Integrity: Ensure referential integrity in relational datasets.
Validate Data: Perform cross-validation checks to ensure data consistency across related fields.
Tools and Functions in pandas for Data Cleaning:

Missing Values: isnull(), notnull(), dropna(), fillna()

Duplicates: duplicated(), drop_duplicates()

Outliers: Statistical methods (e.g., Z-score, IQR), visualization methods (e.g., boxplot())

Data Types: dtypes, astype()

Inconsistent Data: String functions like str.lower(), str.strip(), replace()

Erroneous Data: Conditional selection (query(), boolean indexing)

Normalization and Scaling: MinMaxScaler, StandardScaler

Feature Engineering: apply(), transform()

Categorical Data: pd.get_dummies(), LabelEncoder, OrdinalEncoder

In [37]:
# Results: some NULL values found 
# Initial Total Null Values Pre-Filling (Data Points): 14,416 data points missing
df_tj.isna().sum()

# Data Cleaning Notes:

# Does Pay Amount matter ?? -> DONE -> Based on CorridorID

# Does CorridorID & CorridorName overlaps (if there is still 1 that exist -> it can be recovered) -> No it DOES NOT -> DONE

# -> Journey (Tap-Out details): all 5 column have 1344 missing values (subject to row dropping/deletion) -> data have less weight when all 5 columns are null consistently -> DONE

# Can tapInStops (code) & tapOutStops (code) -> be DERIVED from the tapInStopsName (string) & tapOutStopsName (string)

transID                0
payCardID              0
payCardBank            0
payCardName            0
payCardSex             0
payCardBirthDate       0
corridorID          1257
corridorName        1930
direction              0
tapInStops          1213
tapInStopsName         0
tapInStopsLat          0
tapInStopsLon          0
stopStartSeq           0
tapInTime              0
tapOutStops         2289
tapOutStopsName     1344
tapOutStopsLat      1344
tapOutStopsLon      1344
stopEndSeq          1344
tapOutTime          1344
payAmount           1007
dtype: int64

In [38]:
# Results: NO DUPLICATES
df_tj.duplicated().sum()
# print("Case Validated")

0

In [39]:
# Drop rows where all values are NaN 
# Results: NONE (all rows preserved -> NO rows where all values are NaN)
df_dropped_all = df_tj.dropna(how='all')
# print("Case Validated")

In [40]:
# Null Value Checking (Journey - tapOutDetails)

# tapOutStopsName     1344
# tapOutStopsLat      1344
# tapOutStopsLon      1344
# stopEndSeq          1344
# tapOutTime          1344
# totalPre: 6720

# df_tj[['tapOutStopsName', 'tapOutStopsLat', 'tapOutStopsLon', 'stopEndSeq', 'tapOutTime']].isnull()

# Display rows with any missing values (totalPost = 6170)
# rows_with_missing = df_tj[df_tj[['tapOutStopsName', 'tapOutStopsLat', 'tapOutStopsLon', 'stopEndSeq', 'tapOutTime']].isnull().all(axis=1)]
# print("\nRows with any missing values:\n", rows_with_missing)

# totalPre - totalPost = (6720/5) - 1344 = 0 rows (with no overlap on all 5) -> all 5 is clear for DELETION

# Drop Rows (37900 - 1344 = 36556)
df_tj.dropna(subset=['tapOutStopsName', 'tapOutStopsLat', 'tapOutStopsLon', 'stopEndSeq', 'tapOutTime'], inplace=True)

print("Case Validated - Rows decreased from 37900 -> 36556")

Case Validated - Rows decreased from 37900 -> 36556

## **Data Formatting**

In [41]:
# ===== to Datetime =====
# 2023-04-03 05:21:44 (yyyy-mm-dd)

# df_tj[df_tj['tapInTime'] == '2023-04-03 05:21:44']
# date format checking (yyyy-mm-dd)
# df_tj[df_tj['tapInTime'].str.contains('2023-04-31')]


# Convert 'date_strings' column to datetime with error handling
df_tj['tapInTime'] = pd.to_datetime(df_tj['tapInTime'], errors='coerce')
df_tj['tapOutTime'] = pd.to_datetime(df_tj['tapOutTime'], errors='coerce')

df_tj.info()
print('Case Validated - converted from object to datetime64[ns]')

<class 'pandas.core.frame.DataFrame'>
Index: 36556 entries, 0 to 37899
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transID           36556 non-null  object
 1   payCardID         36556 non-null  int64
 2   payCardBank       36556 non-null  object
 3   payCardName       36556 non-null  object
 4   payCardSex        36556 non-null  object
 5   payCardBirthDate  36556 non-null  int64
 6   corridorID        35351 non-null  object
 7   corridorName      34702 non-null  object
 8   direction         36556 non-null  float64
 9   tapInStops        35379 non-null  object
 10  tapInStopsName    36556 non-null  object
 11  tapInStopsLat     36556 non-null  float64
 12  tapInStopsLon     36556 non-null  float64
 13  stopStartSeq      36556 non-null  int64
 14  tapInTime         36556 non-null  datetime64[ns]
 15  tapOutStops       35611 non-null  object
 16  tapOutStopsName   36556 non-null  object
 17  tapOutStopsLat    36556 non-null  float64
 18  tapOutStopsLon    36556 non-null  float64
 19  stopEndSeq        36556 non-null  float64
 20  tapOutTime        36556 non-null  datetime64[ns]
 21  payAmount         35588 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(3), object(10)
memory usage: 6.4+ MB
Case Validated - converted from object to datetime64[ns]

In [42]:
# White Space Removal
# Creating a function which will remove extra leading and tailing whitespace from the data.
# pass dataframe as a parameter here

# def whitespace_remover(dataframe):
#     # iterating over the columns
#     for i in dataframe.columns:
#         # checking datatype of each columns
#         if dataframe[i].dtype() == 'object':
#             # applying strip function on column
#             dataframe[i] = dataframe[i].map(str.strip)
#         else:
#             # if condn. is False then it will do nothing.
#             pass
# # applying whitespace_remover function on dataframe
# whitespace_remover(df_tj)

# MANUAL (by "object" dType)
df_tj['transID'].str.strip()
df_tj['payCardBank'].str.strip()
df_tj['payCardName'].str.strip()
df_tj['payCardSex'].str.strip()
df_tj['corridorID'].str.strip()
df_tj['corridorName'].str.strip()
df_tj['tapInStops'].str.strip()
df_tj['tapInStopsName'].str.strip()
df_tj['tapOutStops'].str.strip()
df_tj['tapOutStopsName'].str.strip()

0                      Tegalan
1          Sampoerna Strategic
2        Simpang Kunir Kemukus
3            Raya Penggilingan
4             Kali Besar Barat
                 ...
37895                   SMK 57
37896             Pinang Ranti
37897          Buperta Cibubur
37898               JPO Blok G
37899           Kebayoran Lama
Name: tapOutStopsName, Length: 36556, dtype: object

In [43]:
# ===== Sort by Date =====
# unicorn.sort_values(by='Valuation date', inplace=True, ignore_index=True)

# Insights: All Data are within the timeframe of "April 2023"

df_tj.sort_values(by='tapInTime', ignore_index=True, ascending=True, inplace=True)


# covid_start = '2020-03-11'
# unicorn_pre_covid = unicorn[unicorn['Valuation date'] < covid_start]
# unicorn_pre_covid.reset_index(drop=True, inplace=True)
# unicorn_pre_covid

print("Date Sorted - in Ascending Order (Earliest-Latest)")

Date Sorted - in Ascending Order (Earliest-Latest)

## **Data Retreival based on existing Column Value Trends**

Inconsistent Data: Strings etc lowercase etc
Demerging main tables (seperation of Concern)

In [45]:
# # Group by tapInStops by tapInStopsName to get mode (most frequent) tapInStops in tapInStopsName
# TIS_ID = df.groupby('tapInStopsName')['tapInStops'].apply(lambda i: i.mode().iloc[0] if not i.mode().empty else None).reset_index()
# TIS_ID
# # Create dictionary named TIS_mapping. The dictionary key becomes the tapInStopsName, and
# # the value becomes the corresponding mode (most frequent) tapInStops for that tapInStopsName.
# TIS_mapping = dict(zip(TIS_ID['tapInStopsName'], TIS_ID['tapInStops']))
# TIS_mapping
# # Filling missing value with mode if tapInStops is null and tapInStopsName is not null
# df['tapInStops'] = df.apply(
#     lambda row: TIS_mapping[row['tapInStopsName']] 
#     if pd.isnull(row['tapInStops']) and pd.notnull(row['tapInStopsName'])
#     else row['tapInStops'],
#     axis=1
# )

df_tj.isna().sum()

transID                0
payCardID              0
payCardBank            0
payCardName            0
payCardSex             0
payCardBirthDate       0
corridorID          1205
corridorName        1854
direction              0
tapInStops          1177
tapInStopsName         0
tapInStopsLat          0
tapInStopsLon          0
stopStartSeq           0
tapInTime              0
tapOutStops          945
tapOutStopsName        0
tapOutStopsLat         0
tapOutStopsLon         0
stopEndSeq             0
tapOutTime             0
payAmount            968
dtype: int64

In [47]:
# Retreiving (filling-in corridorName based on corridorID)
# Since CorridorID has less Null Values than corridorName

# Dataframe to compare to
df_temp = df_tj.groupby(['corridorName', 'corridorID']).agg({'direction':'sum'}).reset_index()
# df_temp.head(30)

# ===== Logic =====
for idx1, row1 in df_tj.iterrows():
    # Criteria Check (one must exist for cross-DF comparison)
    if (pd.isnull(row1["corridorName"])) & (pd.notnull(row1["corridorID"])):
        # DF matching (df_filled & df_temp) [different DF setup]
        for idx2, row2 in df_temp.iterrows():
            # Value Matching
            if row1["corridorID"] == row2["corridorID"]:
                df_tj.at[idx1, "corridorName"] = df_temp.at[idx2, "corridorName"]
            else:
                pass
    else:
        pass

In [48]:
df_tj.isna().sum()

transID                0
payCardID              0
payCardBank            0
payCardName            0
payCardSex             0
payCardBirthDate       0
corridorID          1205
corridorName        1078
direction              0
tapInStops          1177
tapInStopsName         0
tapInStopsLat          0
tapInStopsLon          0
stopStartSeq           0
tapInTime              0
tapOutStops          945
tapOutStopsName        0
tapOutStopsLat         0
tapOutStopsLon         0
stopEndSeq             0
tapOutTime             0
payAmount            968
dtype: int64

In [49]:
# Retreiving (filling-in corridorID based on corridorName)

# Dataframe to compare to
df_temp = df_tj.groupby(['corridorName', 'corridorID']).agg({'direction':'sum'}).reset_index()
# df_temp.head(30)

# ===== Logic =====
for idx1, row1 in df_tj.iterrows():
    # Criteria Check (one must exist for cross-DF comparison)
    if (pd.isnull(row1["corridorID"])) & (pd.notnull(row1["corridorName"])):
        # DF matching (df_filled & df_temp) [different DF setup]
        for idx2, row2 in df_temp.iterrows():
            # Value Matching
            if row1["corridorName"] == row2["corridorName"]:
                df_tj.at[idx1, "corridorID"] = df_temp.at[idx2, "corridorID"]
            else:
                pass
    else:
        pass

In [50]:
df_tj.isna().sum()

transID                0
payCardID              0
payCardBank            0
payCardName            0
payCardSex             0
payCardBirthDate       0
corridorID          1078
corridorName        1078
direction              0
tapInStops          1177
tapInStopsName         0
tapInStopsLat          0
tapInStopsLon          0
stopStartSeq           0
tapInTime              0
tapOutStops          945
tapOutStopsName        0
tapOutStopsLat         0
tapOutStopsLon         0
stopEndSeq             0
tapOutTime             0
payAmount            968
dtype: int64

In [54]:
# Retreiving (filling-in payAmount (float64) based on corridorID)
# No Null Value dCount Decrease -> payAmount & corridorID has HIGH CORRELATION 
# -> with the Assumtion that BOTH are usualyy MISSING at the SAME time

# Dataframe to compare to
df_temp = df_tj.groupby(['payAmount', 'corridorID']).agg({'direction':'sum'}).reset_index()
df_temp.head(30)

# ===== Logic =====
for idx1, row1 in df_tj.iterrows():
    # Criteria Check (one must exist for cross-DF comparison)
    if (pd.isnull(row1["payAmount"])) & (pd.notnull(row1["corridorID"])):
        # DF matching (df_filled & df_temp) [different DF setup]
        for idx2, row2 in df_temp.iterrows():
            # Value Matching
            if row1["corridorID"] == row2["corridorID"]:
                df_tj.at[idx1, "payAmount"] = float(df_temp.at[idx2, "payAmount"])
            else:
                pass
    else:
        pass

In [55]:
df_tj.isna().sum()

transID                0
payCardID              0
payCardBank            0
payCardName            0
payCardSex             0
payCardBirthDate       0
corridorID          1078
corridorName        1078
direction              0
tapInStops          1177
tapInStopsName         0
tapInStopsLat          0
tapInStopsLon          0
stopStartSeq           0
tapInTime              0
tapOutStops          945
tapOutStopsName        0
tapOutStopsLat         0
tapOutStopsLon         0
stopEndSeq             0
tapOutTime             0
payAmount            968
dtype: int64

In [59]:
# Retreiving (filling-in tapInStops based on tapInStopsName)

# Dataframe to compare to
df_temp = df_tj.groupby(['tapInStops', 'tapInStopsName']).agg({'direction':'sum'}).reset_index()
# df_temp.head(30)

# ===== Logic =====
for idx1, row1 in df_tj.iterrows():
    # Criteria Check (one must exist for cross-DF comparison)
    if (pd.isnull(row1["tapInStops"])) & (pd.notnull(row1["tapInStopsName"])):
        # DF matching (df_filled & df_temp) [different DF setup]
        for idx2, row2 in df_temp.iterrows():
            # Value Matching
            if row1["tapInStopsName"] == row2["tapInStopsName"]:
                df_tj.at[idx1, "tapInStops"] = df_temp.at[idx2, "tapInStops"]
            else:
                pass
    else:
        pass

In [60]:
df_tj.isna().sum()

transID                0
payCardID              0
payCardBank            0
payCardName            0
payCardSex             0
payCardBirthDate       0
corridorID          1078
corridorName        1078
direction              0
tapInStops            32
tapInStopsName         0
tapInStopsLat          0
tapInStopsLon          0
stopStartSeq           0
tapInTime              0
tapOutStops          945
tapOutStopsName        0
tapOutStopsLat         0
tapOutStopsLon         0
stopEndSeq             0
tapOutTime             0
payAmount            968
dtype: int64

In [65]:
# Retreiving (filling-in tapOutStops based on tapOutStopsName)

# Dataframe to compare to
df_temp = df_tj.groupby(['tapOutStops', 'tapOutStopsName']).agg({'direction':'sum'}).reset_index()
# df_temp.head(30)

# ===== Logic =====
for idx1, row1 in df_tj.iterrows():
    # Criteria Check (one must exist for cross-DF comparison)
    if (pd.isnull(row1["tapOutStops"])) & (pd.notnull(row1["tapOutStopsName"])):
        # DF matching (df_filled & df_temp) [different DF setup]
        for idx2, row2 in df_temp.iterrows():
            # Value Matching
            if row1["tapOutStopsName"] == row2["tapOutStopsName"]:
                df_tj.at[idx1, "tapOutStops"] = df_temp.at[idx2, "tapOutStops"]
            else:
                pass
    else:
        pass

In [67]:
# Initial Total Null Values Pre-Filling (Data Points): 14,416 data points missing
# Initial Total Null Values Post-Filling (Data Points): 3,175 data points missing

# a RECOVERY of: 11,241 data points RECOVERED (77.97% reduction)

df_tj.isna().sum()

transID                0
payCardID              0
payCardBank            0
payCardName            0
payCardSex             0
payCardBirthDate       0
corridorID          1078
corridorName        1078
direction              0
tapInStops            32
tapInStopsName         0
tapInStopsLat          0
tapInStopsLon          0
stopStartSeq           0
tapInTime              0
tapOutStops           19
tapOutStopsName        0
tapOutStopsLat         0
tapOutStopsLon         0
stopEndSeq             0
tapOutTime             0
payAmount            968
dtype: int64

In [68]:
df_tj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36556 entries, 0 to 36555
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transID           36556 non-null  object
 1   payCardID         36556 non-null  int64
 2   payCardBank       36556 non-null  object
 3   payCardName       36556 non-null  object
 4   payCardSex        36556 non-null  object
 5   payCardBirthDate  36556 non-null  int64
 6   corridorID        35478 non-null  object
 7   corridorName      35478 non-null  object
 8   direction         36556 non-null  float64
 9   tapInStops        36524 non-null  object
 10  tapInStopsName    36556 non-null  object
 11  tapInStopsLat     36556 non-null  float64
 12  tapInStopsLon     36556 non-null  float64
 13  stopStartSeq      36556 non-null  int64
 14  tapInTime         36556 non-null  datetime64[ns]
 15  tapOutStops       36537 non-null  object
 16  tapOutStopsName   36556 non-null  object
 17  tapOutStopsLat    36556 non-null  float64
 18  tapOutStopsLon    36556 non-null  float64
 19  stopEndSeq        36556 non-null  float64
 20  tapOutTime        36556 non-null  datetime64[ns]
 21  payAmount         35588 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(3), object(10)
memory usage: 6.1+ MB

In [73]:
# ===== Drop REMAINING Rows with NULL Values =====

# Initial Total Rows: 37,900 rows
# Total Rows (after .dropna()):  data points missing

# 36,556 - 3,175 (remaining Null data points) = 33,381
# Conclusion: some null data points overlaps (1 row might contain more than 1 Null value) -> it is ADVISED to delete all rows with Null Values

# Drop Rows with any null values (36556 -> 34488)
# df_cleaned = df_tj.dropna()

# ARGUMENT: since this is for Data Analysis -> rows with only 1 Null values (that are not-unique) -> should be retained for Data Analysis Purposes (unless it is to train an ML Model) [35476 (1-null threshold) vs 34488 (all-clean)]
# Drop rows with more than one null value (36556 -> 35476)
df_tj.dropna(thresh=df_tj.shape[1] - 1, inplace=True)
# df_tj.info()

# All-Clean
# 34488 / 37900 = 9% reduction -> (91% initial data still intact/recovered))
# With 1-null value threshold (CHOSEN)
# 35476 / 37900 = 6.4% reduction -> (93.6% initial data still intact/recovered))

print("Case Validated - Rows decreased from 37900 (initial) -> 36556 (post-filling) -> 35476 (FINAL)")

Case Validated - Rows decreased from 37900 (initial) -> 36556 (post-filling) -> 35476 (FINAL)

In [78]:
# msn.matrix(df_tj)

In [ ]:
# Additonal Logic (for payAmount Recovery)

# # Step 1
# data['payAmount'].unique()

# # Step 2
# royaltrans = ['1K', '1T', '1U', '6P', 'B13', 'B14', 'D31', 'D32', 'S12', 'S13', 'S14', 'S31']
# royaltrans

# # Step 3
# data.loc[data['corridorID'].isin(royaltrans), 'payAmount'] = 20000

# # Step 4
# data.loc[data['corridorID'].str.startswith('JAK', na=False), 'payAmount'] = 0

# # Step 5
# data['payAmount'].fillna(3500, inplace=True)

# # Step 6
# data['payAmount'].isna().sum()

## **Data Conversion (from Filtered Output to CSV)**

In [75]:
# Convert DataFrame to CSV file
# For VS Code Data Analysis and Statistical Tests

df_tj.to_csv('Transjakarta_cleaned.csv', index=False)

In [76]:
# Convert DataFrame to Excel file
# For Tableau
df_tj.to_excel('Transjakarta_cleaned.xlsx', index=False, sheet_name='TJ')

In [74]:
df_tj

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,tapInStopsName,tapInStopsLat,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,LDEA875J4U32YZ,213107623841273,emoney,Natalia Pratama,M,1964,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,B05823P,United Tractors 1,-6.183260,106.93243,28,2023-04-01 06:22:27,B03090P,Raya Penggilingan,-6.183068,106.93194,29.0,2023-04-01 08:15:45,3500.0
1,MSNJ848P3Q44GI,4139531858845,online,Tgk. Kacung Nashiruddin,F,1997,7E,Kampung Rambutan - Ragunan,1.0,B01062P,Jln. Gabus Raya,-6.301222,106.83623,7,2023-04-01 06:54:35,B03148P,RS Jantung Binawaluya,-6.308410,106.87071,15.0,2023-04-01 07:27:31,3500.0
2,JZZV014Y9O33OV,60459139923,flazz,Zelda Thamrin,M,1972,JIS3,Harmoni - Jakarta International Stadium,0.0,P00046,Danau Agung,-6.146869,106.85805,8,2023-04-01 07:32:50,P00161,Pecenongan,-6.167710,106.82819,12.0,2023-04-01 08:16:02,3500.0
3,EVRV919Q6A86EC,4301046448643115806,brizzi,Rama Firmansyah,F,1992,5C,PGC - Juanda,0.0,P00016,BKN,-6.257751,106.87000,1,2023-04-01 09:41:03,P00033,Cawang UKI,-6.250309,106.87360,2.0,2023-04-01 10:27:36,3500.0
4,MLDJ961C1Q41OU,3567863915368369,dki,"Ciaobella Prasetyo, S.Gz",F,1988,11D,Pulo Gebang - Pulo Gadung 2 via PIK,1.0,B00396P,Gg. Aim 2,-6.200395,106.93515,13,2023-04-01 10:33:57,P00270,Walikota Jakarta Timur,-6.212540,106.94537,30.0,2023-04-01 12:12:59,3500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36551,RQCC152K8Z33OB,370582193494134,emoney,Tomi Winarsih,F,1997,JAK.08,Roxy - Benhil,0.0,B01364P,Jln. Marabahan Cideng,-6.172066,106.80538,2,2023-04-30 21:43:18,B02995P,PU Irigasi,-6.201479,106.81079,26.0,2023-04-30 22:02:27,0.0
36552,UDKH290G9T77LN,348952647256687,emoney,Estiawan Januar,M,1992,6M,Stasiun Manggarai - Blok M,1.0,P00068,Gatot Subroto LIPI Arah Timur,-6.226549,106.81740,6,2023-04-30 21:46:00,P00066,Gatot Subroto Jamsostek Arah Timur,-6.232602,106.82162,7.0,2023-04-30 22:09:47,3500.0
36553,LUUF688T8X16WC,30441106310287,bni,"Hasan Nugroho, M.Kom.",M,2004,D11,Depok - BKN,1.0,B02822P,Pesona Khayangan,-6.382532,106.83001,7,2023-04-30 21:48:15,B00106P,Balaikota Depok 2,-6.394973,106.82277,11.0,2023-04-30 22:57:47,3500.0
36554,WBEY632U5D57DZ,180096606431591,emoney,KH. Laksana Kuswandari,F,1993,M7,Kampung Rambutan - Monas,1.0,P00137,Monas,-6.176248,106.82286,0,2023-04-30 21:51:08,P00204,RS Harapan Bunda,-6.301956,106.86803,23.0,2023-04-30 23:23:18,3500.0
36555,NFDI086T0B27WO,4391518877735556073,brizzi,Lintang Hutapea,F,2007,7F,Kampung Rambutan - Juanda via Pasar Baru,0.0,NaN,Galur,-6.174388,106.85485,15,2023-04-30 21:55:41,P00097,Juanda,-6.168048,106.83089,21.0,2023-04-30 23:02:37,3500.0